{
	"arrowParens": "always",
	"bracketSpacing": true,
	"printWidth": 120,
	"semi": true,
	"useTabs": true,
	"trailingComma": "es5",
	"singleQuote": true,
  "jsxSingleQuote": true,
	"singleAttributePerLine": true,
	"endOfLine": "auto"
}