.button {
	padding: 8px 16px;
	border-radius: 24px;
	border: 2px solid var(--black);
	font-size: 1.25rem;
	font-weight: bold;
	transition: background-color 0.2s;

	&:active,
	&:hover {
		background-color: var(--gray);
		cursor: pointer;
	}

	&:disabled {
		border: 2px solid var(--gray);
		color: var(--gray);
		cursor: not-allowed;

		&:hover {
			background-color: var(--light-gray);
		}
	}
}
