.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.word {
	letter-spacing: 5px;
}

p {
	font-size: 1.25rem;
}
